@model HairSalon.Models.Client
@* @model TextBox_Validation_MVC.Models.Client (I'm trying to make it required that a stylist is assigned to a client)*@ 

<h4>Add a new client</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ClientName)
    @Html.TextBoxFor(model => model.ClientName)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add new client" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>